/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
*    Global
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height:100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

body {
  font-family: 'DINPro-Light', sans-serif;
  background: #000;
  color: #fff;
}

/*
*    TYPEFACE AND TEXT
*/

@font-face {
  font-family: 'oswaldbold';
  src: url('../resources/_Typeface/webfontkit_Oswald/oswald-bold-webfont.woff2') format('woff2'),
  url('../resources/_Typeface/webfontkit_Oswald/oswald-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswaldlight';
  src: url('../resources/_Typeface/webfontkit_Oswald/oswald-light-webfont.woff2') format('woff2'),
  url('../resources/_Typeface/webfontkit_Oswald/oswald-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswaldregular';
  src: url('../resources/_Typeface/webfontkit_Oswald/oswald-regular-webfont.woff2') format('woff2'),
  url('../resources/_Typeface/webfontkit_Oswald/oswald-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DINPro-Light';
  src: url('../resources/_Typeface/DINPro-Light_WEBFONT/DINPro-Light.eot'); /* IE9 Compat Modes */
  src: url('../resources/_Typeface/DINPro-Light_WEBFONT/DINPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/_Typeface/DINPro-Light_WEBFONT/DINPro-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../resources/_Typeface/DINPro-Light_WEBFONT/DINPro-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-family: 'oswaldregular';
}

h2, h3, h4, h5, h6 {
  font-family: 'DINPro-Light';
}

p, span, a, input, textarea, ul, li {
  font-family: 'DINPro-Light', sans-serif;
}

a {
  color: #42dca3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  color: #1d9b6c;
}

/*
**    MENU
*/

.nav-holder {
  position:fixed;
  top: 30px;
  left: 50%;
  z-index:11;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav {
  display:inline-block;
  font-family: 'DINPro-Light', sans-serif;
}

.nav-list {
  list-style:none;
}

.nav-item {
  float:left;
  display:inline;
  text-transform: uppercase;
  margin-right: 20px;
}

.nav-item a {
  display:block;
  padding:5px 10px;
  color:#fff;
  text-decoration: none;
}

.modal-nav-item a {
  color:#000;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item a.nav-item-highlight {
  background-color: #fff;
  color: #000;
}

/* Content */

.textwrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  display:block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow-y:scroll!important;
}

.textwrapper .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 50%;
  height: 80%;
}

.textwrapper .container .brand-heading {
  margin-top: 15px;
  color: white;
  font-size: 20px;
}

.textwrapper .container .intro-text {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.textwrapper .container p {
  color: #fff;
  font-size: 16px;
  line-height: 1.3em;
  margin-bottom: 20px;
}

@media(min-width:768px) {
  .textwrapper .container .brand-heading {
    text-align: center;
    font-size: 30px;
  }

  .textwrapper .container .intro-text {
    text-align: center;
    font-size: 18px;
  }
  .textwrapper .container p {
    font-size: 16px;
  }
}

@media(min-width:1170px) {
  .textwrapper .container .brand-heading {
    text-align: center;
    font-size: 30px;
  }
  .textwrapper .container .intro-text {
    text-align: center;
    font-size: 20px;
  }
  .textwrapper .container p {
    font-size: 18px;
  }
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid #42dca3;
  color: white;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42dca3;
  outline: 0;
  color: #fff;
  background-color: #42dca3;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}


::-moz-selection {
  text-shadow: none;
  background: #42dca3;
  color: #fff;
}

::selection {
  text-shadow: none;
  background: #42dca3;
  color: #fff;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/*
body {
webkit-tap-highlight-color: rgba(255,255,255,.2);
}
*/

.form-group{margin-bottom:25px}
.form-group input, .form-group textarea{padding:15px}
.form-group input.form-control{height:auto}
.form-group textarea.form-control{height:236px}
.form-control:focus{border-color:#42dca3;box-shadow:none}

::-webkit-input-placeholder{text-transform:uppercase;font-weight:700;color:#bbb}
:-moz-placeholder{text-transform:uppercase;font-weight:700;color:#bbb}
::-moz-placeholder{text-transform:uppercase;font-weight:700;color:#bbb}
:-ms-input-placeholder{text-transform:uppercase;font-weight:700;color:#bbb}
.text-danger{opacity: 0.8; font-size: 100%;}
