.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  margin: 0;
  padding: 0;
  z-index: 3;
}

.loading .content {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  width: 100%;
  height: 50%;
  color: #fff;
  text-align: center;
}

.container-full {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  display: none;
}

.row {
  height: 100%;
}

.v-center {
  display: flex;
  align-items: center;
}

.interactive-pane {
  position: absolute;
  height: 100%;
  background: rgba(255,255,255,0.2);
  bottom: 130px;
  pointer-events:auto;
}

.interactive-pane-text {
  margin-top: -130px;
  pointer-events:auto;
}

.block-content {
  padding-left: 30px;
  margin-top: 30px;
}

.map-features {
  min-height: 300px;
  pointer-events:auto;
}

section {
    line-height: 25px;
    display: none;
    font-size: 13px;
    cursor: pointer;
    font-family: 'DINPro-Light', sans-serif;
}

section.active {
    display:block;
}

section.hide {
    display:none;
}

#map { position:absolute; top:0; left:0; width:100%; height:100%; }

#map > div.mapboxgl-control-container > div > div {
  font-size: 8px;
  color:#eee;
  display:none;
}

h1.title {
  color: white;
  font-size: 30px;
}

h2.title {
  margin-bottom: 10px;
  font-size: 20px;
}

p.text {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

@media(min-width:768px) {
  h1.title {
    font-size: 40px;
  }

  p.text {
    font-size: 18px;
  }
}

@media(min-width:1170px) {
  h1.title {
    font-size: 50px;
  }
  p {
    font-size: 20px;
  }
}
